body {
  font-family: Arial, sans-serif;
  background-color: #c9a644;
  color: black;
  text-align: center;
  margin: 0;}

.sidenav {
  opacity: 1;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 0%;
  background-color: #282828;
  overflow-x: hidden;}

.sidenav img {
  width: 95%;
}

.main {
  margin-left: 15%;
}

.promo-video {
  border: 10px solid black;
  color: white;
  
  background-color: #282828;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10px;
  border-radius: 20px;
}

header img {
  width: 20%;}

.post1 {
  background-color: #282828;
  color: white;
  border-radius: 30px;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 5%;
  padding-bottom: 5%;

  border: 10px solid black;
  text-align: center;
}

.post1 head {
  position: left;
} 

.post2 {
  background-color: #282828;
  color: white;
  border-radius: 30px;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 5%;
  padding-bottom: 5%;

  border: 10px solid black;
  text-align: center;
}